<!DOCTYPE HTML>

<html>

<body>
<form action = '/', method = 'POST'>
Email: <input type = 'text' name = 'Telephone' value = "{{=it.telephone}}">	
From : <input type = 'text' name = 'From' value = "{{=it.from}}"><br>
To:    <input type = 'text' name = 'To' value = "{{=it.to}}"><br>
Number: <input type = 'text' name = 'Number' value = "{{=it.number}}" maxlength = 11 > <br>
<input type = 'submit' value = 'Submit'>
</form>

</body>

</html>