<!DOCTYPE HTML>

<html>

<body>
<form action = '/signup', method = 'POST'>
Username: <input type = 'text' name = 'Username' value = "{{=it.username}}" ><br>
Email: <input type = 'text' name = 'Email' value = "{{=it.email}}">	<br>
Password: <input type = 'password' name = 'Password' value = "{{=it.password}}" ><br>
Confirm Password: <input type = 'password' name = 'CPassword' value = "{{=it.cpass}}"><br>
<input type = 'submit' value = 'Submit'>
</form>

</body>

</html>