<html>
<title>Sign in</title>


<body>

<form action = '/'  method = 'POST'>
Username: <input type = 'text' name = 'Username' value = '{{=it.username}}'><br>
Password: <input type = 'password' name = 'Password' value = '{{=it.password}}'><br>
<input type = 'submit' value = 'Submit'><br>
</form>
<a href = "/signup"> Not a user? Sign up! </a>


</body>



</html>