<!DOCTYPE html>

<html>
<title>Other Page </title>

<body> 



 

{{? it.name}}
<p>HI {{=it.name}} </p> 
{{??}}
<p> This is another page to view </p>
{{?}}
<br>
{{? it.telephone}}
<p> Your telephone number is {{=it.telephone}}<p>
{{??}}
<p> You have no telephone number<p>

{{?}}
<br>


</body>




</html>