<!DOCTYPE html>

<html>
<title>Other Page </title>

<body> 
<h1>Blog Post</h1>
<br>
<form method = 'POST'>

<textarea name="Post" cols="120" rows="20"> {{=it.Post}}</textarea>


</form>



 

</body>




</html>